<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261368420091-helebng8r654t0t5f04sgr390jcehe8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261368420091-helebng8r654t0t5f04sgr390jcehe8a</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbLTvHuBUqs4GZQkVgerorjdoItqBr2U</string>
	<key>GCM_SENDER_ID</key>
	<string>261368420091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aline.Alinegram</string>
	<key>PROJECT_ID</key>
	<string>alim-2f3d9</string>
	<key>STORAGE_BUCKET</key>
	<string>alim-2f3d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261368420091:ios:da6b3d99efd391dcac025e</string>
</dict>
</plist>